
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}
body{
    min-height: 100vh;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.title{
    font-size: 3rem;
    margin: 6vh;
    border: 7px dashed rgb(1,17,160);
    border-radius: 20px;
    padding: 1vh 5vw;
}
.cards{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1300px;
    margin: 0 auto;
}
.card{
    width: 400px;
    height: max-content;
    margin: 1rem;
    pad: 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    box-shadow: rgba(0,0,0,0.24) 0px 3px 8px;
}
.card .image{
    width: 380px;
    aspect-ratio: 1/1;
    object-fit: cover;
    margin-top: 10px;
    border-radius: 7px;
}
.tour-info{
    margin: 20px 5px;
}
.tour-price{
    color: #1faa59;
    font-size:1.3rem;
}
.tour-name{
    font-size: 1.5rem;
}
.read-more{
    color: #12b0e8;
    cursor: pointer;
}
.button{
    display: flex;
    gap: 50px;
    margin-bottom: 10px;
}
.btn-red{
    margin-top:18px;
    padding: 7px 10px;
    border: 1px solid #b4161b;
    cursor: pointer;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    background-color: #b4161b21;
}
.btn-red:hover{
    background-color: red;
    color: white;
    transition: all 0.2s;
}
.btn-green{
    margin-top:18px;
    padding: 7px 10px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    background-color:rgb(182, 234, 182);
}
.btn-green:hover{
    background-color: green;
    color: white;
    transition: all 0.2s;
}
.refersh{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.refersh h2{
    font-family: "poppins",sans-serif;
    font-size: 1.5em;
}
.btn-white{
    margin-top: 18px;
    padding: 10px 80px;
    border: 1px solid white;
    background-color: whitesmoke;
    cursor: pointer;
}
.btn-white:hover{
    background-color: white;
    color: black;
    transition: all 0.2s;
}